# app config

APP_PORT=8000
MAX_HISTORY=10

# cache config

CACHE_PORT=6379
CACHE_HOST=cache

# jwt

JWT_SECRET=# generate: python -c "import secrets; print(secrets.token_hex(32))"
JWT_ALGORITHM=HS256